@font-face {
    font-family: 'Nosifer';
    src: url('/Nosifer-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-Italic-VariableFont_wght.ttf');
}
:root {
  /* Police système optimisée pour chaque plateforme */
  --font-system: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    sans-serif;
  --font-big-title: 'Nosifer', var(--font-system); 
  --font-paragraphe:'Monserat', var(--font-system);
  --color-title-red: RGB(254, 8, 10);
  --color-title-white:RGB(211, 211, 211);
  --color-text:RGB(211, 211, 211);
  --color-input:black;
  --background-form:#e6e6e6b7;
  --color-button:RGB(177, 0, 0);
  /* Couleur principale de l'application en fond si image ne fonctionne pas */
  --primary:#1D1D1D ;
  /* Espacement standard utilisé dans l'application */
  --gap: 1rem;
}
#app {
    background-image: url('/img/fondecran.jpg');
    background-size: cover;      
    background-position: center;  
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family:var(--font-paragraphe); 
}

h1,h2,h3{
    font-family: var(--font-big-title);
    color: var(--color-title-red);
    text-align: center;    
}
h1{
  padding: 1.5rem;
  font-size: 1.8rem;
  margin:1rem;
}
h2{
  margin:1rem;
  padding: 0.5rem;
}
h3{
  padding: 1rem 0; /*Padding top et bottom 1rem, left et righ 0*/
}
h4{
  color: var(--color-title-white);
  text-align: left;
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.header{
  position:relative;
  display: flex;
  flex-direction: column;
  height: auto;
  margin:0.5rem;
  z-index: 100;
}
/* menu burger à gauche et login à droite dans le header */
.header__mobile-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
/*bouton burger*/
.burger {
  background-color: var(--color-button);
  border: solid  darkred 3px;
  color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
}
/*bouton de login*/
.header__button-login{
  background-color: var(--color-button);
  color: var(--color-text);
  border: solid darkred 3px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0;   /* Permet d'aligner le bouton avec le menu burger*/
}
/* div avec le Logo et titre h1*/
.header__class-logo{
  display: flex;
  align-items: center;
  margin: 1rem;  
}
/* Le logo*/
.header__logo {
    width: 100%; 
    max-width: 120px; 
    height: auto;
    border-radius: 50%;
    /* Ajout d'une bordure transparent*/
      mask-image: linear-gradient(
      to bottom,
      transparent,
      black 25%,
      black 75%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black 25%,
      black 75%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
}
/*la barre de navigation*/
.header__class-nav {
  display: none; /* cachée sur mobile par défaut */
  flex-direction: column;
  align-items: flex-start;
  position: absolute;     /* mobile = superposé */
  top: 100%;
  left: 0;
  min-width: 20%;
  max-width:100%;
  background-color:rgba(0, 0, 0, 0.767);
  z-index: 1000;
}
.header__class-nav.open {
  display: flex;
}
.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*onglets principaux*/
.header__nav-list > li {
  position: relative;
  border: rgba(255, 255, 255, 0.197) solid 1px;  
}
.header__nav-list li a {
  color: var(--color-text);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}
/*Liste des 3 onglets des activités*/
.header__nav-dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1rem;
  margin: 0.5rem 0 0 0; 
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0 1rem;
}
.main__presentation, .main__illustration, .main__plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.presentation__text{
  color: var(--color-title-white);
  text-align: center;
  min-width: 30%;
  max-width: 80%;
  margin-top: 2rem;
}
.illustration__img, .plan__img{
  max-height: 400px;
  min-width: 30%;
  mask-image: linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
}
.footer{
  text-align: center;
  padding: 1rem;
  color: var(--color-text);
}

.footer__faq {
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.footer__button{
  background-color: var(--primary);

  color: var(--color-title-white);
}
.footer__button a{
  text-decoration: none;
  color: var(--color-text);
}

.footer_social a {
color: darkred ;
text-decoration:none ;
font-weight: bold;
margin: 0 0.5rem;
}


/* Page attractions */
.main__activity{
  display: flex;
  flex-direction: column;
  margin:1rem;
  max-width: 80%;
  align-items: center;
}
.main__button-info{
  background-color: var(--primary);
  color: var(--color-text);  
}
/* Pour les 3 pages: Attractions, spectacles, rencontres perso */
.activity__img {
  max-height: 400px;
  min-width: 30%;
  mask-image: linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;

  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
}
/* page détail */
.activity__detail{
color: var(--color-text);
text-align: center;
 }
.activity__img-detail{
  mask-image: linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );

  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black 5%,
      black 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
}
/* Page Contact */
.main__contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}
.contact__title{
  font-family: var(--font-big-title);
  color: var(--color-title-red);
  text-align: center;
  margin-bottom: 3rem;
}
.contact__text{
  color: var(--color-title-white);
  text-align: center;
  min-width: 30%;
  max-width: 80%;
  margin-bottom: 1rem;
}
.contact__text-coord {
text-decoration: underline;
}
.contact__address{
  margin: 0;          
  line-height: 1.2;  
}
/* Inscription */
.register__title{
  margin-bottom: 3rem;
}
.main__register{
display: flex;
flex-direction: column;
align-items: center;
}
.register__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
  color: var(--color-text);
  min-width:60%
}
.register__form-label{
  margin-bottom: 0.5rem;
}
.register__form input{
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: solid darkred 2px;
  border-radius: 3px;
  background-color: var(--background-form);
  color: var(--color-input);
  width: 100%;
}
.register__form-button{
  background-color: var(--color-button);
  color: var(--color-text);
  border: solid darkred 3px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  align-self: center;
}
/*page de connexion*/
.main__login{
display: flex;
flex-direction: column;
align-items: center;
}
.login__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
  color: var(--color-text);
  min-width:60%
}
.login__form-label{
  margin-bottom: 0.5rem;
}
.login__form input{
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: solid darkred 2px;
  border-radius: 3px;
  background-color: var(--background-form);
  color: var(--color-input);
  width: 100%;
}

/* page compte */

.compte__profil {
  color:var(--color-text);
  margin:0rem;
  line-height: 0.4;
  padding: none;
  text-align: left;
}

.compte__reservation {
  color: var(--color-text);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.compte__bold {
  font-weight: bold;
}

/* page billeterie */
.ticket{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--color-text);
  margin:1rem;
  text-align: center;
}
.ticket__button-validate{
  display: flex;
  justify-content: center;
}
p{
  color: var(--color-text);
  margin: 2rem;
  text-align: center;
}
.ticket__form-label{
  margin-right: 0.5rem;
}
.ticket__date-label{
  color: var(--color-text);
}
.ticket__date-input{

  padding: 0.5rem;
  margin-bottom: 1rem;
  border: solid darkred 2px;
  border-radius: 3px;
  background-color: var(--background-form);
  color: var(--color-input);
}

/* page 404 */
.main__Error{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem;
  width: 100%;
}
.Error__title{
  font-family: var(--font-big-title);
  color: var(--color-title-red);
  text-align: center;
  margin-bottom: 3rem;
}
.Error__text{
  color: var(--color-title-white);
  text-align: center;
  margin-bottom: 1rem;
}
/*A partir de 600px, le logo s'agrandit*/
@media (min-width: 600px) {
  .header__logo {
    max-width: 200px;
  }
}
@media (min-width: 768px) {
  .header__class-nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.288);
  }
  .header__class-nav ul {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
  }
  .header__button-login {
    margin-left: auto;
  }
  .register__form {
    min-width: unset;
    width: 30%;
    max-width: 600px;

    align-items: flex-start; /* labels alignés à gauche */
  }
  .register__form input {
    width: 100%;
  }
  .login__form {
    min-width: unset;
    width: 80%;
    max-width: 600px;
    align-items: flex-start; /* labels alignés à gauche */
  }
  .login__form input {
    width: 100%;
  }
  /* Nav visible en horizontal */
 .header__class-nav {
    position: static;      /* ← clé du fix */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: auto;
    display: flex !important; 
  }
  .header__nav-list {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 0;  
  }
  .header__nav-list > li {
    margin: 0.5rem;
    border: none;
  }
  .header__nav-activities {
    position: relative; /* parent relatif pour que le dropdown s'affiche au bon endroit */
  }
  /* Dropdown caché par défaut */
  .header__nav-dropdown {
    display: none !important;
    position: absolute; /* pour que ça s’affiche en dessous de "Activités" */
    top: 100%;        /* juste en dessous de l’onglet parent */
    left: 0;
    background-color:rgba(0, 0, 0, 0.767);
    flex-direction: column;
    /* padding: 0.5rem 0; */
    min-width: 200px;
    z-index: 9999; /* <- ici, pour passer au-dessus du reste */
  }
  .header__nav-activities:hover .header__nav-dropdown {
    display: flex !important;
  }
  /* Liens du dropdown */
  .header__nav-dropdown li a {
    padding: 0.5rem 1rem;
    border-bottom: solid rgba(169, 169, 169, 0.233) 1px;
  }
   /* Align login to right */
  .header__button-login {
    margin-left: auto;
  }
  /* Cacher le burger sur desktop */
  .burger {
    display: none;
  }
}